In [1]:
import pandas as pd

In [2]:
dct = pd.read_excel('../data/dict.xlsx')

In [17]:
dct.head()

,Разметка: Для ума/ Для души / Для тела,id_level1,level1,id_level2,level2,id_level3,leve3,d_level1,d_level2,d_level3
0,Для ума,649,Игры,651,Интеллектуальные игры,1042,Иные интеллектуальные игры,"Занятия по изучению правил игр, основанных на ...",NaN,NaN
1,Для ума,649,Игры,651,Интеллектуальные игры,1040,Викторины,"Занятия по изучению правил игры, которая заклю...",NaN,NaN
2,Для ума,649,Игры,651,Интеллектуальные игры,1041,Квест,Занятия по изучению способов решений головолом...,NaN,NaN
3,Для ума,649,Игры,651,Интеллектуальные игры,1043,Брейн-ринг,"Занятия по изучению правил игры, в которой поб...",NaN,NaN
4,Для ума,649,Игры,650,Настольные игры,323,Современные настольные игры,"Занятия по изучению правил современных игр, ра...",NaN,NaN

In [5]:
dct['level1'] = dct['level1'].apply(lambda x: x.replace('ОНЛАЙН', '').strip() if 'ОНЛАЙН' in x else x)
dct['level2'] = dct['level2'].apply(lambda x: x.replace('ОНЛАЙН', '').strip() if 'ОНЛАЙН' in x else x)
dct['leve3'] = dct['leve3'].apply(lambda x: x.replace('ОНЛАЙН', '').strip() if 'ОНЛАЙН' in x else x)

In [21]:
dct = dct.groupby(['level1', 'level2', 'leve3'], as_index=False).agg({
    'Разметка: Для ума/ Для души / Для тела': 'first',
    'id_level1': 'min',
    'id_level2': 'min',
    'id_level3': 'min',
})

In [24]:
dct = dct[['id_level1', 'id_level2', 'id_level3', 'level1', 'level2', 'leve3', 'Разметка: Для ума/ Для души / Для тела']]
dct.columns = ['cat1_id', 'cat2_id', 'cat3_id', 'cat1_name', 'cat2_name', 'cat3_name', 'branch']

In [26]:
dct.to_csv('../data/dict.csv')